aiohttp
beautifulsoup4
lxml
playwright
fake-useragent
pydantic
sqlalchemy[asyncio]
asyncpg
python-dotenv
alembic
pydantic-settings
pytest
celery
flower
redis
fastapi
uvicorn
pandas
numpy
langchain-core
langchain-openai
langchain-community
openai
python-telegram-bot
jinja2
paramiko
